
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>doctor page</title>
</head>
<body>
    <h1>Dashboard of doctor</h1>


    <h1> hello {{ user.username }} your role is DOCTOR</h1>
    
    <li>
        NAME : {{ user.first_name }}  {{ user.last_name }}
    </li>
   <li>
      CITY:  {{ user.city }}
    </li> 
     <li>
       EMAIL:  {{ user.email }}
    </li>

    <li>
        DOCTOR STATUS:  {{ user.is_doctor }}
     </li>



    

        
        

</body>
</html>